body {
	padding: 0;
	margin: 0;
	background-color: lightblue;
}

.login {
  align-content: right;
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  align-content: right;
}
