body {
	padding: 0;
	margin: 0;
	background-color: lightblue;
}

.login {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 150px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
