* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
      max-width: 100%;
      background-image: url(/css/Background.png);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dashboard-container {
      background: rgba(10, 10, 10, 0.6);
      display: flex;
      width: 2000px;
      height: 90vh;
      max-width: 95%;
      border-radius: 20px;
      overflow: hidden;
      color: #fff;
    }


.sidebar {
      background: #2c2c2c;
      width: 250px;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .logo {
      display: flex;
      align-items: center;
      background: #000;
      padding: 15px 20px;
      border-radius: 10px;
      gap: 10px;
      margin-bottom: 40px;
    }

.logo img {
  width: 50px;
}

.menu button {
  width: 100%;
  background: #2a2a2a;
  border: none;
  padding: 12px;
  margin-bottom: 10px;
  color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
}

.menu button.active,
.menu button:hover {
  background: #3a3a3a;
  color: #fff;
}


.main {
  flex: 1;
  padding: 30px ;
  color: white;
  min-width: 0; 
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #d9d9d9;
  padding: 15px 20px;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
}


.overview {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.card {
  background: #dfe9ff;
  color: #000;
  padding: 20px;
  border-radius: 20px;
  width: 23%;
}

.card h2 {
  font-size: 28px;
  margin-top: 10px;
}

.container {
  margin-top: 25px;
  height: 750px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container label {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.container input {
  height: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

#btn_calculate {
  height: 50px;
  background: #e9e9e9;
  color: #000;
  font-weight: 600;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

#btn_calculate:hover {
  background: #7dd4ff;
}

#result {
  margin-top: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

#myTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #2a2a2a;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

#myTable th,
#myTable td {
  padding: 12px;
  text-align: center;
}

#myTable th {
  background: #3a3a3a;
  color: #ffffff;
}

#myTable tr:nth-child(even) {
  background: #232323;
}

#myTable tr:hover {
  background: #333;
}