* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url(/html/Bg-img.png);
    height: 100vh;
    background-color: #00a2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.container {
      display: flex;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      padding: 40px;
      width: 900px;
      max-width: 95%;
      color: #fff;
      gap: 40px;
      align-items: center;
      justify-content: center;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #000;
      padding: 20px 30px;
      border-radius: 10px;
    }

    .logo i {
      color: #00a2ff;
      font-size: 40px;
    }

    .logo h1 {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.4;
    }

    .form-box {
      background: #e9e9e9;
      color: #000;
      border-radius: 20px;
      padding: 40px;
      width: 500;
    }

    .form-box h2 {
      margin-bottom: 25px;
      font-size: 22px;
      font-weight: 700;
    }

    .form-box label {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
    }

    .form-box input {
      width: 100%;
      padding: 12px 15px;
      border-radius: 8px;
      border: 2px solid #d7d7d7;
      margin-bottom: 20px;
      font-size: 15px;
      outline: none;
      transition: border 0.2s ease;
    }

    .form-box input:focus {
      border-color: #91c9ff;
    }

    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s ease;
      margin-bottom: 12px;
    }

    .btn-primary {
      background: #d9d4fc;
      color: #000;
    }

    .btn-primary:hover {
      background: #c5befc;
    }

    .btn-google {
      background: #1a73e8;
      color: #fff;
    }

    .btn-google:hover {
      background: #0c5edb;
    }

    .login-link {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #666;
    }

    .login-link a {
      color: #2563eb;
      text-decoration: none;
      font-weight: 600;
    }

      @media (max-width: 768px) {
      .container {
        flex-direction: column;
        padding: 30px;
      }

      .logo {
        justify-content: center;
      }

      .form-box {
        width: 100%;
      }
    }

    @media (max-width: 600px) {
      .container {
        flex-direction: column;
        padding: 30px;
      }

      .logo {
        justify-content: center;
      }

      .form-box {
        width: 100%;
      }
    }